<ion-row>
  <ion-col [sizeXs]="6" [sizeSm]="4" [sizeMd]="3" [sizeXl]="4" *ngFor="let dream of dreams">
    <ion-card class="{{dream.situation}}" expand="block"> <!--(click)="showSlide(dream.id)"-->
      <ion-img src="../../assets/img/{{dream.imagePath}}"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <i class="pin"></i>
          {{dream.name}}
        </ion-card-title>
      </ion-card-header>

      <div (click)="showModal(dream.id)" style="
            position: absolute;
            right: 0;
            bottom: 5px;
            margin: 5px;
            font-size: 0.8rem;
            font-weight: initial;
            line-height: 0.5;
            width: fit-content;
            padding: 5px;
            transform: rotate(-3deg);">
        <ion-icon slot="end" name="create"></ion-icon>
      </div>
    </ion-card>
  </ion-col>
  <!--<ion-col [sizeXs]="6" [sizeSm]="4" [sizeMd]="3" [sizeXl]="4">-->
    <!--<ion-card class="concluido">-->
      <!--<ion-img src="../../assets/img/hombridade.jpg"></ion-img>-->
      <!--<ion-card-header>-->
        <!--<ion-card-title>-->
          <!--<i class="pin"></i>-->
          <!--Hombridade-->
        <!--</ion-card-title>-->
      <!--</ion-card-header>-->
    <!--</ion-card>-->
  <!--</ion-col>-->
  <!--<ion-col [sizeXs]="6" [sizeSm]="4" [sizeMd]="3" [sizeXl]="4">-->
    <!--<ion-card (click)="showModal(2)" expand="block">-->
      <!--<ion-img src="../../assets/img/mindfulness.jpg"></ion-img>-->
      <!--<ion-card-header>-->
        <!--<ion-card-title>-->
          <!--<i class="pin"></i>-->
          <!--Mindfulness-->
        <!--</ion-card-title>-->
      <!--</ion-card-header>-->
    <!--</ion-card>-->
  <!--</ion-col>-->
</ion-row>